PORT=3005
NODE_ENV=development

DATABASE_URL="postgresql://enrollments_user:enrollments_password@edufy-enrollments-db:5432/enrollments_db"
DATABASE_DIRECT_URL="postgresql://enrollments_user:enrollments_password@edufy-enrollments-db:5432/enrollments_db"

RABBITMQ_URL="amqp://guest:guest@localhost:5672"
RABBITMQ_ENROLLMENTS_QUEUE="enrollments_queue"
RABBITMQ_COURSES_QUEUE="courses_queue"
RABBITMQ_USERS_QUEUE="users_queue"

USERS_SERVICE_HOST=localhost
USERS_SERVICE_PORT=3002

COURSES_SERVICE_HOST=localhost
COURSES_SERVICE_PORT=3003
c