PORT=3004
NODE_ENV=development

DATABASE_URL="postgresql://courses_user:courses_password@edufy-courses-db:5432/courses_db"
DATABASE_DIRECT_URL="postgresql://courses_user:courses_password@edufy-courses-db:5432/courses_db"

RABBITMQ_URL=
RABBITMQ_COURSES_QUEUE=
RABBITMQ_USERS_QUEUE=

AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=
