PORT=3006
NODE_ENV=development

DATABASE_URL="postgresql://support_user:support_password@edufy-support-db:5432/support_db"
DATABASE_DIRECT_URL="postgresql://support_user:support_password@edufy-support-db:5432/support_db"

RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"
RABBITMQ_SUPPORT_QUEUE="support_queue"
RABBITMQ_USERS_QUEUE="users_queue" # Assuming users_queue for USERS_SERVICE client
