PORT=3006
NODE_ENV=development

# Database (Localhost:5437 for dev)
DATABASE_URL="postgresql://support_user:support_password@localhost:5437/support_db_dev"
DATABASE_DIRECT_URL="postgresql://support_user:support_password@localhost:5437/support_db_dev"

RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"
RABBITMQ_SUPPORT_QUEUE="support_queue"
RABBITMQ_USERS_QUEUE="users_queue" # Assuming users_queue for USERS_SERVICE client
