# Configurações da aplicação
APP_NAME=API Gateway
PORT=3000
NODE_ENV=development
API_PREFIX=api

# Logs
LOG_LEVEL=debug
LOG_FORMAT=json

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=1h
ADMIN_KEY=your_admin_key_here
DATABASE_URL=postgres://admin:password@localhost:5432/edufy

AUTH_SERVICE_HOST=0.0.0.0
AUTH_SERVICE_PORT=3001

WEBHOOK_SECRET=your_webhook_secret_here
WEBHOOK_HMAC_HEADER=x-hmac-signature